body{
    background-color: hsl(212, 45%, 89%);
    text-align: center;
}

p{
    font-size: 12px;
}

img{
    width: 210px;
    height: 200px;
    border-radius: 5px;
    padding-top: 15px;
    
}

.d{
    position: relative;
}
.container{
    width: 230px;
    height: 380px;
    text-align: center;
    border-radius: 15px;
    background-color: hsl(0, 0%, 100%);

    position: absolute;
    top: 50%;
    left: 40%;
    transform: translate(50%, 50%);
    
}

h3{
    color: hsl(217, 48%, 18%);
    font-weight: 700;
    font-size: 18px;
    padding: 0 20px ;
    
}

p{
    color: hsl(220, 15%, 55%);
    font-weight: 500;
    padding: 0 15px;

}